h3 {
    color: #00FF00; /* Green */
}

#payrollTable {
    margin-top: 20px;
    border: 1px solid #00FF00;
    border-radius: 8px;
}

#payrollTableBody {
    background-color: #222;
}

td button {
    background-color: #FF0000; /* Red */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
